.review {
    h2 {
        text-align: left;
        font-size: 1.75rem;
        font-weight: 200;
        margin-bottom: 0;
        font-family: CiscoSans, Arial,sans-serif;
        color: #58585b;
    }

    .review-desc {
        margin-bottom: 2rem;
        
        .ant-descriptions-item-content {
            background-color: #fff;
            text-align: left;
            padding: 4px 8px;
            font-weight: 500;
        }

        .ant-descriptions-item-label {
            background: linear-gradient(90deg,#48b1bf,#06beb6);
            text-align: right;
            font-weight: 700;
            font-family: CiscoSans, Arial, sans-serif;
            color: #fff;
            padding: 4px 8px;
        }
    }

    .review-btn {
        margin: 1rem auto;
    }

}
