@import "../../../../App.scss";

.profile {
    background-color: #f1f5f8;
    padding: 1.25rem 1.875rem;

    .profile-container {
        
        .profile-row {
            justify-content: space-between;

            .profile-row-left {
                margin-bottom: 2rem;
            }
        }
    }


    .user-card {
        background: linear-gradient(90deg,#48b1bf,#06beb6);
        border-radius: 0.625rem;
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 12px 0 #b3afaf;
    }

    .user-card-info {
        display: inline-flex;
        width: 100%;
        .user-avt {
            border: .25rem solid #2bcddd;
            flex: 0 0 80px;
        }

        .user-content {
            text-align: left;
            margin-left: .5rem;
            color: #FFFFFF;
            font-weight: 500;
            line-height: 1.2;
            overflow-wrap: anywhere;
            flex: 1;
    
            h3 {
                color: #FFFFFF;
                max-width: 100%;

                @include Responsive(xs) {
                    font-size: 1rem;
                }

                @include Responsive(sm) {
                    font-size: 1.5rem;
                }
            }
    
            p {
                margin-bottom: .5rem;
                max-width: 100%;

                @include Responsive(xs) {
                    font-size: 0.875rem;
                }

                @include Responsive(sm) {
                    font-size: 1rem;
                }
            }
        }
    }

    .user-chart {
        border-radius: 0.625rem;
        background-color: #FFFFFF;
        box-shadow: 0 0 12px 0 #b3afaf;

        .chart-title {
            background: linear-gradient(90deg,#48b1bf,#06beb6);
            padding: .75rem 1.25rem;
            border-top-left-radius: 0.625rem;
            border-top-right-radius: 0.625rem;
            color: #FFFFFF;
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.2rem;
        }
    
        .chart-wrap {
            padding: 1.25rem;
        }
    }

}

