#form-video {
    padding: 1.5rem;

    .video-title {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-bottom: 1rem;
        background: linear-gradient(to right, #48b1bf, #06beb6);
        padding: 0.5rem;

        p {
            margin-bottom: 0;
            margin-right: 0.625rem;
            font-size: 1.2rem;
            padding: 0.3125rem 0.4375rem;
            color: #fff;
        }

        input[type="text"] {
            outline: none;
            border-radius: 10px;
            flex: 0 0 50%;
            padding: 0.3125rem 1rem;
            border: none;
            align-items: stretch;
            box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
        }
    }

    .v-editor-save {
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status-switch {
        margin-top: 1rem;
    }
}