.UserList {
  flex: 4;
  .userListUser {
    display: flex;
    align-items: center;
    .userImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  .userEdit {
    border: none;
    border-radius: 10px;
    background-color: rgb(105, 223, 184);
    margin-right: 10px;
    cursor: pointer;
  }
  .userEdit:hover {
    background-color: rgb(105, 190, 162);
  }
  .userDel {
    cursor: pointer;
  }
}
