.User {
  flex: 4;
  .userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .userAddButton {
      width: 80px;
      height: 50px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      color: azure;
      background-color: rgb(104, 104, 240);
      font-size: 16px;
    }
  }

  .userContainer {
    display: flex;
    .userShow {
      flex: 1;
      padding: 20px;
      margin-right: 10px;
      box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);

      .userTop {
        display: flex;
        align-items: center;

        .userShowImg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userShowTitle {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          .userShowUserName {
            font-size: 30px;
            font-weight: 600;
          }
          .userShowUserTitle {
            font-size: 18px;
            color: rgb(105, 76, 32);
          }
        }
      }
      .userBottom {
        margin: 20px;
        .userShowTitle {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 600;
        }
        .userShowInfo {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 300;
          margin-top: 10px;
          .userIcon {
            margin-right: 10px;
            color: rgb(66, 61, 61);
          }
          .userShowInfoTitle {
            color: rgb(126, 126, 106);
          }
        }
      }
    }

    .userUpdate {
      flex: 2;
      padding: 20px;
      box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
      .userUpdateTitle {
        font-size: 30px;
        font-weight: 800;
      }
      .userUpdateForm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .userUpdateLeft {
          .userUpdateItem {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
            .lable {
              margin-bottom: 3px;
              font-size: 14px;
            }
          }
          // .userUpdateItem >
          .userUpdateInput {
            border: none;
            width: 500px;
            height: 30px;
            border-bottom: 1px solid grey;
            outline: none;
            margin-bottom: 10px;
          }
        }

        .userUpdateRight {
          width: 100px;
          display: flex;
          justify-content: right;
          align-items: flex-end;
          .userUpdateButton {
            width: 90px;
            height: 40px;
            border-radius: 10px;
            background-color: rgb(89, 202, 206);
          }
        }
      }
    }
  }
}
