.chainCourse-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -15px;
}

.chainCourse-title {
    text-align: left;
}

.chainCourse-title h2 {
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 24px;
}

.chain-col {
    padding: 0 15px;
}