.categories {
    letter-spacing: -.02rem;
    padding: 0 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    color: #3c3b37;
    height: 72px;
}

.ctg-wrap {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.ctg-wrap:hover {
    color: #0f7c90;
}

.ctg-wrap__pop {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 5px;
}

.pop-act {
    display: block;
}

.ctg-pop {
    min-height: 640px;
    border: 1px solid #dcdacb;
    border-radius: 3px;
}
