.footer {
    background-color: #F5F5F5;
}

.row-info {
    padding-top: 80px;
}

.footer-col {
    text-align: left;
}

.footer-store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-store img {
    width: 100%;
    margin-bottom: 1rem;
}

.footer-copyright {
    display: flex;
    justify-content: space-between !important;
    border-top: 1px solid #bdbdbd;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}

.copyright {
    text-align: left;
}

.social {
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 480px) {
    .footer-store img {
        width: 50%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
    
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    
    
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
}