@import '../../../../../App.scss';

.lecture-quiz {
    text-align: left;
    h1 {
        font-size: 1.5rem;

        @include Responsive(sm) { font-size: 1.875rem; }
        @include Responsive(md) { font-size: 2.125rem; }
    }

    .lecture-quiz-info-submit {
        margin-bottom: 1rem;

        p {
            margin-bottom: 0.3125rem;
        }
    }

    table .column-state {
        p {
            margin-bottom: 0;
            color: #212529;
            &:nth-child(1) {
                color: #212529;
                font-weight: 700;
            }

        }
    }

    table thead {
        background: linear-gradient(to right, rgb(72, 177, 191), rgb(6, 190, 182)) !important;
    }

    table tbody {
        background-color: rgba(0,0,0,.05);
        cursor: pointer;
    }

    table thead th {
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
    }

    table a {
        color: #007493;

        &:hover {
            text-decoration: underline;
        }
    }

    .lecture-quiz-pre-submit {

        .quiz-pre-submit-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.875rem;

            h3 {
                text-align: left;
                font-size: 1.25rem;
                font-weight: 200;
                line-height: 1.2;
                color: #58585b;
                font-family: CiscoSans, Arial, sans-serif;
                margin-bottom: 0;

                @include Responsive(sm) { font-size: 1.5rem;}
                @include Responsive(md) { font-size: 1.75rem;}
            }

            a {
                line-height: 1.2;
                color: #007493;
            }
            
        }

        .column-state {
            text-transform: capitalize;
        }
    }

    .lecture-quiz-grade {
        text-align: center;
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.2;
        color: #58585b;
        font-family: CiscoSans, Arial, sans-serif;
        margin-top: 2rem;

        @include Responsive(sm) { font-size: 1.5rem;}
        @include Responsive(md) { font-size: 1.75rem;}
    }
}