.userDash-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    color: #1f1f1f;
    font-family: OpenSans,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #f0f3f5;
    text-align: left;
    padding: .75rem 1.25rem;
}