.banner-row {
    padding-top: 50px;
    padding-bottom: 30px;
}
.banner-left {
    text-align: left;
}

.banner-right {
    text-align: right;
}

.banner-left__top h1 {
    line-height: 92px;
    font-size: 84px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
}

.banner-left__top p {
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    margin-top: 24px;
}

.banner-btn {
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    font-weight: bold;
    padding: 0px;
    width: 238px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achieve-row h2 {
    font-weight: 600;
    color: rgb(31, 31, 31);
    margin-bottom: 65px;
    padding: 0px 20px;
    text-align: center;
    line-height: 52px;
    font-size: 44px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}


.achieve-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.achieve-col {
    padding:0 15px;
}

.achieve-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achieve-title img{
    height: 55px;
    width: 55px;
}

.achieve-title span{
    display: block;
    font-weight: 600;
    height: 4rem;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(31, 31, 31);
    font-style: normal;
    text-align: center;
    letter-spacing: -0.1px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

.achieve-detail {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}
