@import '../../../App.scss';

.signup {
    background-color: #F0F3F5;

    .signup-container {
        @include Responsive(xs) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .signup-row {
        justify-content: center;
        padding: 50px 0;
    }

    .signup-wrap {
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 12px 0 #afafaf;

        h1 {
            text-align: left;
            font-weight: bold;
            padding: 30px;
            font-size: 25px;
            line-height: 1.2;
    
            @include Responsive(xs) {
                font-size: 20px;
            }
            @include Responsive(sm) {
                font-size: 20px;
            }
        }
    }


    .signup-inner {
        display: flex;
        justify-content: space-around;
    }

    .inner-left {
        width: 100%;

        p {
            color: #73818f;
            text-align: center;
            margin-top: 15px;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.2;

            @include Responsive(xs) {
                font-size: 16px;
            }
            @include Responsive(sm) {
                font-size: 16px;
            }
        }

        img {
            width: 100%;
            max-width: 250px;
        }
    }

    .inner-right {

        h3 {
            color: rgb(31, 31, 31);
            font-size: 34px;
            line-height: 42px;
            text-align: center;
            font-weight: 400;
            margin-bottom: 40px;

            @include Responsive(xs) {
                font-size: 24px;
            }
            @include Responsive(sm) {
                font-size: 24px;
            }
        }
        
        form label {
            text-align: left;
            display: block;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .input-wrap {
            background-color: #e6e6e6;
            border-radius: 25px;
            display: flex;
            align-items: center;

            .input-icon {
                color: #666;
                margin-left: 15px;
                font-size: 1rem;
            }
        }
        
    }

    input {
        background-color: transparent;
        outline: none;
        border: none;
        height: 52px;
        font-size: 15px;
        line-height: 1.5;
        margin: 0 15px;
        width: 100%;
    }

    input:-internal-autofill-previewed,
    input:-internal-autofill-selected {
        transition: background-color 10000s ease-in-out 0s !important;
    }

    a {
        text-decoration: none;
        color: #2A73CC;
    }

    .form-btn {
        cursor: pointer;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 35px;
        padding: 0 25px;
        background: linear-gradient(90deg,#48b1bf,#677ebd);
    }

    .submit-btn {
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        height: 52px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.5s;
        background-color: transparent !important;

        &:hover {
            color: #23282c;
        }
    }

    .form-license {
        display: flex;
        margin-top: 15px;

        .checkbox-btn {
            margin-top: 0px;
            margin-right: 5px;
            display: flex;
        }
    }

    .form-license p {
        line-height: 1.43;
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        color: #1c1d1f;
    }


}

.ant-message-custom-content {
    display: flex;
    align-items: center;
}

// xs: '480px',
//   sm: '576px',
//   md: '768px',
//   lg: '992px',
//   xl: '1200px',
//   xxl: '1600px',

